server:
  port: 8081

spring:
  application:
    name: vidaplus-manager

  datasource:
    url: jdbc:h2:mem:vidaplusdb
    username: sa
    password: password
    driverClassName: org.h2.Driver

  jpa:
    database-platform: org.hibernate.dialect.H2Dialect
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        format_sql: false
        dialect: org.hibernate.dialect.H2Dialect

  security:
    user:
      name: admin
      password: admin

  logging:
    level:
      org:
        springframework:
          security: DEBUG


  h2:
    console:
      enabled: true
      path: /h2-console
      settings:
        web-allow-others: true

#apiTitle: "Manager Service"
#apiDescription: "Serviço de Gerenciamento do projeto Usercard manager"
#apiVersion: "1.0.0"
#apiContactName: "João Victor Barbosa"
#apiContactEmail: "jvbaprof@gmail.com"